<div class="container-fluid">
  <h1>Found Stores Near <%= @zipcode %></h1>
  <h3><%= @store_search.total %> Total Stores</h4>

  <div class="stores-list">
    <% @store_search.stores.each do |store| %>
      <div class="store well">
        <h4><%= link_to store.long_name, store_path(store.id) %></h4>
        <ul>
          <li><%= store.city %></li>
          <li>Distance: <%= store.distance %></li>
          <li>Phone: <%= store.phone %></li>
          <li>Store Type: <%= store.type %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
