<h1>Found Stores</h1>
<h3><%= @data[:total] %> Total Stores</h4>

<div class="stores-list">
  <% @data[:stores].each do |store| %>
    <div class="store">
      <h4><%= store[:longName] %></h4>
      <ul>
        <li><%= store[:city] %></li>
        <li>Distance: <%= store[:distance] %></li>
        <li>Phone: <%= store[:phone] %></li>
        <li>Store Type: <%= store[:storeType] %></li>
      </ul>
    </div>
  <% end %>
</div>
